# Note: ibapi should be installed from TWS API package source, not PyPI
# The PyPI version is outdated and incompatible with current TWS versions
# The source can be found in API package after install : https://interactivebrokers.github.io/#
# ibapi>=10.30.0

# Additional utilities need for install ibapi from source
setuptools
protobuf>=5.29.3,<6.0.0

# Market calendar support
exchange_calendars>=4.10.0

# utlities
httpx>=0.28.1

# Async support for Jupyter
nest_asyncio>=1.6.0

# Data handling and caching
pandas>=2.3.0
numpy>=2.3.0
pyarrow>=20.0.0

# Jupyter notebook support
ipykernel>=6.29.5

# Visualization and analysis
plotly>=6.2.0
matplotlib>=3.10.3
tqdm>=4.67.1

# Backtesting framework
backtesting>=0.6.4

